<h2>Welcome to {{ appName }} Version {{ appVersion }}</h2>
<!-- structural directives * -->
<ul>
  <!-- loop over categories to display them -->
  <li *ngFor="let category of podcastCategories">
    {{ category }}
  </li>
</ul>
<!-- target="_blank" to open new tab by clicking link -->
<p>Contact {{pageAuthor.name}} {{pageAuthor.avatar}} via <a href={{pageAuthor.githubLink}} target="_blank">GitHub</a></p>

<p>Checkout our most popular podcasts!</p>
<!-- Input: square brackets around property name allow input of property values or expression-->
<ul>
    <li *ngFor="let podcast of podcasts">
        <img [src]="podcast.image" [alt]="'A picture of ' + podcast.title"/> 
    </li>
</ul>