<!-- everything outside the router-outlet is displayed on every page -->
<nav>
  <!-- link to other pages -->
  <aside>
    <!-- routerLink directive instead of href to not download pages again; 
    angular rooter puts correct component into place -->
    <a routerLink="/podcasts">Podcasts</a>&nbsp;
    <a routerLink="/podcasts-genres">Podcast Genres</a>
  </aside>
</nav>
<span>Welcome to the World's Best Podcast App</span>
<router-outlet> </router-outlet>
